---
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
import ThemeIcon from "./ThemeIcon.Astro";
---
<header>
    <nav>
        <Hamburger/>
        <ThemeIcon/>
        <Navigation/>
    </nav>
</header>